<%- include("partials/header.ejs") %>
  <%- include("partials/navbar.ejs") %>
  <div class="card text-center">
  <div class="card-header">
    Encontrado: Id <%= persona.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= persona.name %></h5>
    <p class="card-text"><%= persona.history %></p>
    <a href="/edit/<%= persona.id %>" class="btn btn-warning">Editar</a>
    <form action="/delete" method="post" onsubmit="confirmDelete(event, this)" style="display: inline">
      <input type="hidden" name="id" value="<%= persona.id %>">
      <button type="submit" class="btn btn-danger" >Deletar</button>
    </form>
  </div>
</div>
<%- include("partials/footer.ejs") %>

<script>
  function confirmDelete(event, form){
    event.preventDefault();
    let resp = confirm("Você deseja deletar esta prosonalidade?");
    if(resp){
      form.submit();
    }
  }
</script>
